*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}


body{
  font-family: "inter";
}

.tag {
  font-size: 0.9rem;
  
}

.el-input.el-input--prefix.el-input--suffix.el-date-editor.el-date-editor--year.el-tooltip__trigger.el-tooltip__trigger{
  width:100%!important
}